* {
  box-sizing: border-box;
}

.nav1 :hover {
  color: #fff;
}

span {
  color: aqua;
}

.button2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#seafood #pizza,
#crepe {
  color: rgb(233, 99, 22);
}

#mixCrepawy,
#burger .nav1 {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #000;
  color: #fff;
}

.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./ChatGPT\ Image\ 24\ يناير\ 2026،\ 01_14_45\ م.png");
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 60px;
  color: orange;
}

.overlay button {
  margin-top: 20px;
  padding: 15px 30px;
  background: orange;
  border: none;
  font-size: xx-large;
  cursor: pointer;
  width: 40vw;
  text-align: center;
}

nav {
  background: #111;
  padding: 15px;
  text-align: center;
}

nav a {
  color: orange;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.img9 {
  width: 45px;
}

.img7 {
  width: 41px;
}

.img8 {
  width: 80px;
}

.cartBox {
  background: #111;
  margin: 20px;
  padding: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}


.img11 {
  width: 600px;
}

.aaa {
  text-decoration: none;
  color: aqua;
}

.dark {
  background: #111;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.item {
  background: #111;
  width: 260px;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid orange;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.item span {
  display: block;
  margin: 10px 0;
  color: orange;
  font-weight: bold;
}

.img2 {
  width: 150px;
  border-radius: 7px;
}

.img3 {
  width: 167px;
  border-radius: 7px;
  height: 110px;
}

.img4 {
  width: 150px;
  border-radius: 7px;
  height: 125px;
}

.item :hover {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

button {
  background: orange;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background: black;
  text-align: center;
  padding: 20px;
  color: orange;
}
.CREP {
  font-family: "Times New Roman", Times, serif;
  font-size: 60vw;
}
.p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

::selection {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 174, 0);
}

body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: #fff;
}

.hero {
  height: 60vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
}

nav {
  background: #111;
  padding: 15px;
  text-align: center;
}

nav a {
  color: orange;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.item {
  border: 1px solid orange;
  padding: 20px;
  width: 220px;
  text-align: center;
  background: #111;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.cartBox {
  background: #111;
  margin: 20px;
  padding: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

td,
th {
  border: 1px solid orange;
  padding: 8px;
  text-align: center;
}
#deliveryType {
  width: 100%;
}
